{% extends "base.html" %}
{% block content %}
<div class="container py-5">
    <h1 class="mb-4 text-center">Mis Proyectos</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for project in projects %}
        <div class="col">
            <div class="card h-100 shadow-sm">
                {% if project.image %}
                <img src="{{ url_for('static', filename='images/' ~ project.image) }}" class="card-img-top" alt="{{ project.title }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text">{{ project.description }}</p>
                </div>
                <div class="card-footer text-center">
                    <a href="{{ url_for('project_detail', project_id=project.id) }}" class="btn btn-primary">Ver más</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
